body,h1,h2,h3,h4,h5,h6,span,a{
    text-transform: capitalize;
    font-family: 'Spartan', sans-serif;
}
img{
    max-width: 100%;
}
/* header css  */
.main-header{
    background-color: rgb(231,230,230);
}
.main-header img {
    width: 90px;
}
.header-menu {
	width: 800px;
}
.header-menu ul{
}
.header-menu ul li{}
.header-menu ul li a {
	display: inline-block;
	color: rgb(97,96,96);
	font-weight: 600;
	text-decoration: none;
	padding: 0px 20px;
	font-size: 16px;
    transition: .5s;
}
.header-menu ul li:first-child a{
    color: rgb(82,82,208);
}
.header-menu ul li a:hover{
    color: rgb(82,82,208);
}

.header-btn a{
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	padding: 15px 25px;
	border-radius: 30px;
	background: white;
	border: none;
    position: relative;
    z-index: 1;
}
.header-btn a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(82,82,208);
    width:0;
    z-index: -1;
    transition: .5s;

}

/* banner css  */
.banner-section{
    background-color: rgb(237,246,255);
    overflow: hidden;
    padding: 150px 0 20px 0;
}
.banner-content-wrap{
    align-items: center;
    display: flex;
}
.banner-left-text h2 {
	font-size: 41px;
	font-weight: 600;
}
.banner-left-text{
    padding-bottom: 40px;
}
.banner-btn {
	border-radius: 30px;
	font-weight: 500;
	display: inline-block;
	font-size: 18px;
	padding: 15px 20px;
	margin-top: 30px;
}
.banner-btn:hover{
    background-color: #fff;
    color: rgb(82,82,208);
    border: 1px solid rgb(82,82,208);
}
.banner-right-img {
	position: relative;
}
.banner-right-img img {
	border-radius: 50%;
	height: 600px;
	width: 600px;
	position: absolute;
	left: 156px;
	top: -200px;
}
/* service section css  */

.service-item{
    border-radius: 12px;
    transition: .6s;
}
.service-item:hover{
    background-color: rgb(98,98,208);
    color: white;
}
.service-item:hover .s-icon{
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 50px;
    transition: .6s;
}
.service-item:hover .s-icon span{
    background-color: #fff;
    color: rgb(82,82,208);
}

.s-icon {
	padding-bottom: 20px;
	border-bottom: 2px solid rgb(98,98,208);
	width: 35px;
	margin: 20px 0px;
}
.service-top{}
.service-top p {
	color: rgb(157,143,236);
	font-size: 18px;
	font-weight: 500;
}
.service-top h1 {
	font-weight: 500;
	margin: 20px 0px;
	position: relative;
}
.service-top h1::after {
	height: 3px;
	width: 50px;
	content: "";
	position: absolute;
	left: 4px;
	top: 105px;
	background: rgb(157,143,236);
}
.service-top span {
	font-size: 17px;
	font-weight: 400;
	color: #606060;
	display: inline-block;
	margin-top: 20px;
}
.service-item .s-icon span {
	background-color: rgb(98,98,208);
	height: 75px;
	display: inline-block;
	width: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 35px;
	color: white;
	border-radius: 40px 40px 40px 2px;
}
.s-footer p {
	font-size: 17px;
}